[user]
	email = 2gb02ignac@gmail.com
	name = IgnacyBerent

[alias]
	acp = "!f() { if [ -z \"$1\" ]; then echo 'Error: Commit message is required'; exit 1; fi; git add -u && git commit -m \"$1\" && git push; }; f"

[core]
	editor = vim
