@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(24, 24, 37, 0.7);
  color: @overlay0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#window {
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces button {
  font-size: 18px;
  font-weight: bold;
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 20px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @base;
  color: @text;
}

#workspaces button.active {
  color: @base;
  background-color: @mauve;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @text;
}

#workspaces button.urgent {
  background-color: @red;
}

#pulseaudio,
#custom-power,
#custom-nightmode,
#clock,
#cpu,
#tray,
#battery,
#network,
#memory {
  border-radius: 4px;
  margin: 3px 4px;
  padding: 3px 12px;
  background-color: @base;
  color: @text;
}

#clock {
  margin-right: 14px;
}

#network {
  background-color: @mauve;
  color: @base;
  transition: all 0.3s ease;
}
#network.disconnected {
  background-color: @base;
  color: @text;
}

#pulseaudio {
  background-color: @mauve;
  color: @base;
  transition: all 0.3s ease;
}
#pulseaudio.muted {
  background-color: @base;
  color: @text;
}

#battery.charging {
  background-color: @mauve;
  color: @base;
}
#battery.warning:not(.charging) {
  background-color: @peach;
  color: @base;
}
#battery.critical:not(.charging) {
  background-color: @red;
  color: @base;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 22px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @crust;
}

tooltip label {
  padding: 5px;
  background-color: @crust;
}
